*{
    padding: 0;
    margin: 0;
}

#bgcolor{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right , rgb(5, 211, 215) , rgb(236, 103, 2));
}

.color{
   
    margin: 60px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate( -50% , -50% );
}

#colorone{
    margin-left: 300px;
}


#colortwo{
   margin-left: 70px;
}

h1{
    font-size: 200px;
    font-weight: bold;
    color: rgba(0,0,0,.8);
    letter-spacing: .6rem;
}

h2{
    margin-left: 300px;
    font-size: 3rem;
    color: rgba(0,0,0,.8);
    letter-spacing: .5rem;
}

h3{
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0,0,0,.8);
    letter-spacing: .2rem;
}